@import '../../styles/Colors.scss';
@import '../Containers/Movies.scss';

#movieSearchListSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, 10em);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  margin: 2em 3em;
}
