@import '../../styles/Colors.scss';

header {
  background-color: $darkest;
  display: flex;
  justify-content: space-between;
  height: 3em;
  max-height: 3em;
  padding: 1em;

  a {
    span {
      color: $light;
      font-weight: bold;
      cursor: pointer;
    }

    span:hover {
      color: $solid;
    }
  }
}
