@import '../../styles/Colors.scss';

header {
  background-color: $darkest;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4em;
  max-height: 4em;
  padding: 1em;

  a {
    display: flex;
    align-items: center;
    margin-right: 4em;
    margin-left: 1.5em;

    span,
    .logo,
    h1 {
      color: $light;
      font-weight: bold;
      cursor: pointer;
    }

    span:hover,
    h1:hover {
      color: $solid;
    }

    .logo {
      height: 30px;
    }

    .logo:hover ~ h1 {
      color: $solid;
    }

    h1 {
      color: $light;
      font-size: 1em;
      line-height: 90%;
      max-width: 65px;
      margin-left: 5px;
    }
  }
}
